* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: rgb(168, 160, 160);
  height: 100vh;
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  height: 100vh;
  /* margin-left: -6.5%; */
  /* margin-bottom: -100%; */
}
