.popup-container {
  margin-top: -12.5em;
  height: -100vh;
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  max-width: 55%;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 90%;
    margin-left: 25.4px;
    margin-top: 21%;
  }
}
